.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h1 {
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.selected {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.scores {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.winner {
  display: flex;
  justify-content: center;
}

.result {
  display: flex;
  justify-content: center;
}

.buttons img {
  max-height: 150px;
  border: solid 2px black;
}

.rockBtn:hover {
  transform: scale(1.2);
  border-color: solid 2px crimson;
  box-shadow: 0 0 1rem crimson;
}
.paperBtn:hover {
  transform: scale(1.2);
  border-color: solid 2px crimson;
  box-shadow: 0 0 1rem crimson;
}
.scissorsBtn:hover {
  transform: scale(1.2);
  border-color: solid 2px crimson;
  box-shadow: 0 0 1rem crimson;
}
